<div class="container body-content">

    <h1> Política de Privacidade </h1>


    <p> Data de vigência: 31 de janeiro de 2020 </p>


    <p> O Contador ("nós", "nós" ou "nosso") opera o site contador.com.br e o aplicativo móvel Contador (o "Serviço").
    </p>

    <p> Esta página fornece informações sobre nossas políticas relativas à coleta, uso e divulgação de dados pessoais
        quando você usa nosso Serviço e as opções associadas a esses dados. </p>

    <p> Usamos seus dados para fornecer e melhorar o serviço. Ao usar o Serviço, você concorda com a coleta e uso de
        informações de acordo com esta política. A menos que definido de outra forma nesta Política de Privacidade, os
        termos usados nesta Política de Privacidade têm os mesmos significados que em nossos Termos e Condições. </p>


    <h2> Coleta e uso de informações </h2>

    <p> Coletamos vários tipos diferentes de informações para várias finalidades para fornecer e melhorar nosso Serviço
        para você. </p>

    <h3> Tipos de dados coletados </h3>

    <h4> Dados Pessoais </h4>

    <p> Ao usar nosso Serviço, podemos solicitar que você nos forneça algumas informações pessoais identificáveis que
        podem ser usadas para contatá-lo ou identificá-lo ("Dados pessoais"). Informações pessoalmente identificáveis
        podem incluir, mas não estão limitadas a: </p>

    <ul>
        <li> Endereço de e-mail </li>
        <li> Nome e sobrenome </li>
        <li> Número de telefone </li>
        <li> Endereço, estado, província, CEP / cidade </li>
        <li> Cookies e dados de uso </li>
    </ul>

    <h4> Dados de uso </h4>

    <p> Também podemos coletar informações que seu navegador envia sempre que você visita nosso Serviço ou quando você
        acessa o Serviço por ou por meio de um dispositivo móvel ("Dados de Uso"). </p>
    <p> Estes Dados de Uso podem incluir informações como endereço IP do seu computador (por exemplo, endereço IP), tipo
        de navegador, versão do navegador, páginas do nosso Serviço que você visita, data e hora da sua visita, tempo
        gasto naquelas páginas, identificadores exclusivos de dispositivos e outros dados de diagnóstico. </p>
    <p> Quando você acessa o Serviço por ou por meio de um dispositivo móvel, esses Dados de uso podem incluir
        informações como o tipo de dispositivo móvel usado, o ID exclusivo do dispositivo móvel, o endereço IP do
        dispositivo móvel, o sistema operacional do celular o tipo de navegador de Internet móvel que você usa,
        identificadores exclusivos de dispositivos e outros dados de diagnóstico. </p>

    <h4> Dados de acompanhamento e cookies </h4>
    <p> Usamos cookies e tecnologias de rastreamento semelhantes para rastrear a atividade em nosso Serviço e manter
        certas informações. </p>
    <p> Cookies são arquivos com pequena quantidade de dados que podem incluir um identificador exclusivo anônimo. Os
        cookies são enviados para o seu navegador a partir de um site e armazenados no seu dispositivo. As tecnologias
        de rastreamento também usadas são beacons, tags e scripts para coletar e rastrear informações e para melhorar e
        analisar nosso Serviço. </p>
    <p> Você pode instruir seu navegador a recusar todos os cookies ou indicar quando um cookie está sendo enviado. No
        entanto, se você não aceitar cookies, talvez não consiga usar algumas partes de nosso Serviço. </p>
    <p> Exemplos de cookies que usamos: </p>
    <ul>
        <li> <strong> Cookies de sessão. </strong> Usamos cookies de sessão para operar nosso serviço. </li>
        <li> <strong> Cookies preferenciais. </strong> Usamos os cookies preferenciais para lembrar suas preferências e
            várias configurações. </li>
        <li> <strong> Cookies de segurança. </strong> Usamos os cookies de segurança para fins de segurança. </li>
    </ul>

    <h2> Uso de dados </h2>

    <p> Contador usa os dados coletados para diversos fins: </p>
    <ul>
        <li> Para fornecer e manter o serviço </li>
        <li> Para notificá-lo sobre alterações em nosso serviço </li>
        <li> Para permitir que você participe de recursos interativos de nosso Serviço ao optar por fazê-lo </li>
        <li> Para fornecer atendimento e suporte ao cliente </li>
        <li> Para fornecer análises ou informações valiosas para que possamos melhorar o serviço </li>
        <li> Para monitorar o uso do serviço </li>
        <li> Para detectar, prevenir e resolver problemas técnicos </li>
    </ul>

    <h2> Transferência de dados </h2>
    <p> Suas informações, incluindo Dados Pessoais, podem ser transferidas para - e mantidas em - computadores
        localizados fora do seu estado, província, país ou outra jurisdição governamental, onde as leis de proteção de
        dados podem ser diferentes das da sua jurisdição. </p>
    <p> Se você estiver localizado fora do Brasil e optar por nos fornecer informações, observe que transferimos os
        dados, incluindo os Dados pessoais, para o Brasil e os processamos lá. </p>
    <p> O seu consentimento para com esta Política de Privacidade, seguido pelo envio de tal informação, representa a
        sua concordância com essa transferência. </p>
    <p> O Contador tomará todas as medidas necessárias para garantir que seus dados sejam tratados com segurança e de
        acordo com esta Política de Privacidade e nenhuma transferência de seus Dados Pessoais ocorrerá para uma
        organização ou país, a menos que haja controles adequados em vigor, incluindo a segurança de seus dados e outras
        informações pessoais. </p>

    <h2> Divulgação de dados </h2>

    <h3> Requisitos legais </h3>
    <p> O Contador pode divulgar os seus Dados Pessoais de boa-fé, acreditando que tal ação é necessária para: </p>
    <ul>
        <li> Para cumprir uma obrigação legal </li>
        <li> Proteger e defender o direitos ou propriedade de Contador </li>
        <li> Para evitar ou investigar possíveis irregularidades relacionadas ao Serviço </li>
        <li> Para proteger a segurança pessoal dos usuários do Serviço ou do público </li>
        <li> Para proteger contra responsabilidade legal </li>
    </ul>
    <h2> Segurança dos dados </h2>
    <p> A segurança dos seus dados é importante para nós, mas lembre-se de que nenhum método de transmissão pela
        Internet ou método de armazenamento eletrônico é 100% seguro. Embora nos esforcemos para usar meios
        comercialmente aceitáveis para proteger seus dados pessoais, não podemos garantir sua segurança absoluta. </p>
    <h2> Provedores de serviços </h2>
    <p> Podemos empregar empresas e indivíduos terceirizados para facilitar nosso serviço (“Prestadores de Serviços"),
        para fornecer o Serviço em nosso nome, para executar serviços relacionados ao Serviço ou para nos ajudar a
        analisar como nosso Serviço é usado. </p>
    <p> Esses terceiros têm acesso aos seus Dados Pessoais somente para executar essas tarefas em nosso nome e estamos
        obrigados a não divulgá-las ou utilizá-las para qualquer outra finalidade. </p>
    <h3> Analytics </h3>
    <p> Podemos usar prestadores de serviços terceirizados para monitorar e analisar o uso de nosso serviço. </p>
    <ul>
        <li>
            <p> <strong> Google Analytics </strong> </p>
            <p> O Google Analytics é um serviço de análise da web oferecido pelo Google que rastreia e relata o tráfego
                do website. O Google usa os dados coletados para rastrear e monitorar o uso do nosso serviço. Esses
                dados são compartilhados com outros serviços do Google. O Google pode usar os dados coletados para
                contextualizar e personalizar os anúncios de sua própria rede de publicidade. </p>
            <p> Para obter mais informações sobre as práticas de privacidade do Google, visite a página de Privacidade e
                Termos do Google: <a
                    href=" https://policies.google.com/privacy?hl=pt-BR">https://policies.google.com/privacy?hl=pt-BR
                </a> </p>
        </li>
    </ul>
    <h2> Links para outros sites </h2>
    <p> Nosso Serviço pode conter links para outros sites que não são operados por nós. Se você clicar em um link de
        terceiros, você será direcionado para o site de terceiros. Recomendamos vivamente que reveja a Política de
        Privacidade de todos os sites que visita. </p>
    <p> Não temos controlo nem assumimos qualquer responsabilidade pelo conteúdo, políticas de privacidade ou práticas
        de quaisquer sites ou serviços de terceiros. </p>
    <h2> Privacidade das crianças </h2>
    <p> Nosso serviço não é direcionado a menores de 18 anos ("Filhos"). </p>
    <p> Não coletamos intencionalmente informações de identificação pessoal de menores de idade Se você é pai / mãe ou
        responsável legal e está ciente de que seus filhos nos forneceram dados pessoais, entre em contato conosco. Se
        ficarmos cientes de que coletamos dados pessoais de crianças sem a verificação do consentimento dos pais,
        tomamos medidas para remover essas informações de nossos servidores. </p>
    <h2> Mudanças para esta política de privacidade </h2>
    <p> atualizar nossa Política de Privacidade de tempos em tempos. Iremos notificá-lo de quaisquer alterações
        publicando a nova Política de Privacidade nesta página. </p>
    <p> Nós o informaremos por e-mail e / ou um aviso em destaque no nosso Serviço, antes que a alteração entre em vigor
        e atualize a “data efetiva" no topo desta Política de Privacidade. </p>
    <p> Aconselhamos que você revise esta Política de Privacidade periodicamente para quaisquer alterações. As
        alterações nesta Política de Privacidade são efetivas quando publicadas nesta página. </p>
    <h2> Entre em contato </h2>
    <p> Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco: </p>
    <ul>
        <li> Por email: supernova@contador.com.br </li>
        <li> Visitando esta página em nosso site: contador.com.br/contact </li>
    </ul>
    <h1> Política de Privacidade </h1>


    <p> Data de vigência: 31 de janeiro de 2020 </p>


    <p> O Contador ("nós", "nós" ou "nosso") opera o site contador.com.br e o aplicativo móvel Contador (o "Serviço").
    </p>

    <p> Esta página fornece informações sobre nossas políticas relativas à coleta, uso e divulgação de dados pessoais
        quando você usa nosso Serviço e as opções associadas a esses dados. Nossa Política de Privacidade para Contador
        é gerenciada por meio da <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator.php"> Política
            de Privacidade Gratuita </a>. </p>

    <p> Usamos seus dados para fornecer e melhorar o serviço. Ao usar o Serviço, você concorda com a coleta e uso de
        informações de acordo com esta política. A menos que definido de outra forma nesta Política de Privacidade, os
        termos usados nesta Política de Privacidade têm os mesmos significados que em nossos Termos e Condições. </p>


    <h2> Coleta e uso de informações </h2>

    <p> Coletamos vários tipos diferentes de informações para várias finalidades para fornecer e melhorar nosso Serviço
        para você. </p>

    <h3> Tipos de dados coletados </h3>

    <h4> Dados Pessoais </h4>

    <p> Ao usar nosso Serviço, podemos solicitar que você nos forneça algumas informações pessoais identificáveis que
        podem ser usadas para contatá-lo ou identificá-lo ("Dados pessoais"). Informações pessoalmente identificáveis
        podem incluir, mas não estão limitadas a: </p>

    <ul>
        <li> Endereço de e-mail </li>
        <li> Nome e sobrenome </li>
        <li> Número de telefone </li>
        <li> Endereço, estado, província, CEP / cidade </li>
        <li> Cookies e dados de uso </li>
    </ul>

    <h4> Dados de uso </h4>

    <p> Também podemos coletar informações que seu navegador envia sempre que você visita nosso Serviço ou quando você
        acessa o Serviço por ou por meio de um dispositivo móvel ("Dados de Uso"). </p>
    <p> Estes Dados de Uso podem incluir informações como endereço IP do seu computador (por exemplo, endereço IP), tipo
        de navegador, versão do navegador, páginas do nosso Serviço que você visita, data e hora da sua visita, tempo
        gasto naquelas páginas, identificadores exclusivos de dispositivos e outros dados de diagnóstico. </p>
    <p> Quando você acessa o Serviço por ou por meio de um dispositivo móvel, esses Dados de uso podem incluir
        informações como o tipo de dispositivo móvel usado, o ID exclusivo do dispositivo móvel, o endereço IP do
        dispositivo móvel, o sistema operacional do celular o tipo de navegador de Internet móvel que você usa,
        identificadores exclusivos de dispositivos e outros dados de diagnóstico. </p>

    <h4> Dados de acompanhamento e cookies </h4>
    <p> Usamos cookies e tecnologias de rastreamento semelhantes para rastrear a atividade em nosso Serviço e manter
        certas informações. </p>
    <p> Cookies são arquivos com pequena quantidade de dados que podem incluir um identificador exclusivo anônimo. Os
        cookies são enviados para o seu navegador a partir de um site e armazenados no seu dispositivo. As tecnologias
        de rastreamento também usadas são beacons, tags e scripts para coletar e rastrear informações e para melhorar e
        analisar nosso Serviço. </p>
    <p> Você pode instruir seu navegador a recusar todos os cookies ou indicar quando um cookie está sendo enviado. No
        entanto, se você não aceitar cookies, talvez não consiga usar algumas partes de nosso Serviço. </p>
    <p> Exemplos de cookies que usamos: </p>
    <ul>
        <li> <strong> Cookies de sessão. </strong> Usamos cookies de sessão para operar nosso serviço. </li>
        <li> <strong> Cookies preferenciais. </strong> Usamos os cookies preferenciais para lembrar suas preferências e
            várias configurações. </li>
        <li> <strong> Cookies de segurança. </strong> Usamos os cookies de segurança para fins de segurança. </li>
    </ul>

    <h2> Uso de dados </h2>
    Contador
    <p> Contador usa os dados coletados para diversos fins: </p>
    <ul>
        <li> Para fornecer e manter o serviço </li>
        <li> Para notificá-lo sobre alterações em nosso serviço </li>
        <li> Para permitir que você participe de recursos interativos de nosso Serviço ao optar por fazê-lo </li>
        <li> Para fornecer atendimento e suporte ao cliente </li>
        <li> Para fornecer análises ou informações valiosas para que possamos melhorar o serviço </li>
        <li> Para monitorar o uso do serviço </li>
        <li> Para detectar, prevenir e resolver problemas técnicos </li>
    </ul>

    <h2> Transferência de dados </h2>
    <p> Suas informações, incluindo Dados Pessoais, podem ser transferidas para - e mantidas em - computadores
        localizados fora do seu estado, província, país ou outra jurisdição governamental, onde as leis de proteção de
        dados podem ser diferentes das da sua jurisdição. </p>
    <p> Se você estiver localizado fora do Brasil e optar por nos fornecer informações, observe que transferimos os
        dados, incluindo os Dados pessoais, para o Brasil e os processamos lá. </p>
    <p> O seu consentimento para com esta Política de Privacidade, seguido pelo envio de tal informação, representa a
        sua concordância com essa transferência. </p>
    <p> O Contador tomará todas as medidas necessárias para garantir que seus dados sejam tratados com segurança e de
        acordo com esta Política de Privacidade e nenhuma transferência de seus Dados Pessoais ocorrerá para uma
        organização ou país, a menos que haja controles adequados em vigor, incluindo a segurança de seus dados e outras
        informações pessoais. </p>

    <h2> Divulgação de dados </h2>

    <h3> Requisitos legais </h3>
    <p> O Contador pode divulgar os seus Dados Pessoais de boa-fé, acreditando que tal ação é necessária para: </p>
    <ul>
        <li> Para cumprir uma obrigação legal </li>
        <li> Proteger e defender o direitos ou propriedade de Contador </li>
        <li> Para evitar ou investigar possíveis irregularidades relacionadas ao Serviço </li>
        <li> Para proteger a segurança pessoal dos usuários do Serviço ou do público </li>
        <li> Para proteger contra responsabilidade legal </li>
    </ul>
    <h2> Segurança dos dados </h2>
    <p> A segurança dos seus dados é importante para nós, mas lembre-se de que nenhum método de transmissão pela
        Internet ou método de armazenamento eletrônico é 100% seguro. Embora nos esforcemos para usar meios
        comercialmente aceitáveis para proteger seus dados pessoais, não podemos garantir sua segurança absoluta. </p>
    <h2> Provedores de serviços </h2>
    <p> Podemos empregar empresas e indivíduos terceirizados para facilitar nosso serviço (“Prestadores de Serviços"),
        para fornecer o Serviço em nosso nome, para executar serviços relacionados ao Serviço ou para nos ajudar a
        analisar como nosso Serviço é usado. </p>
    <p> Esses terceiros têm acesso aos seus Dados Pessoais somente para executar essas tarefas em nosso nome e estamos
        obrigados a não divulgá-las ou utilizá-las para qualquer outra finalidade. </p>
    <h3> Analytics </h3>
    <p> Podemos usar prestadores de serviços terceirizados para monitorar e analisar o uso de nosso serviço. </p>
    <ul>
        <li>
            <p> <strong> Google Analytics </strong> </p>
            <p> O Google Analytics é um serviço de análise da web oferecido pelo Google que rastreia e relata o tráfego
                do website. O Google usa os dados coletados para rastrear e monitorar o uso do nosso serviço. Esses
                dados são compartilhados com outros serviços do Google. O Google pode usar os dados coletados para
                contextualizar e personalizar os anúncios de sua própria rede de publicidade. </p>
            <p> Para obter mais informações sobre as práticas de privacidade do Google, visite a página de Privacidade e
                Termos do Google: <a
                    href=" https://policies.google.com/privacy?hl=pt-BR">https://policies.google.com/privacy?hl=pt-BR
                </a> </p>
        </li>
    </ul>
    <h2> Links para outros sites </h2>
    <p> Nosso Serviço pode conter links para outros sites que não são operados por nós. Se você clicar em um link de
        terceiros, você será direcionado para o site de terceiros. Recomendamos vivamente que reveja a Política de
        Privacidade de todos os sites que visita. </p>
    <p> Não temos controlo nem assumimos qualquer responsabilidade pelo conteúdo, políticas de privacidade ou práticas
        de quaisquer sites ou serviços de terceiros. </p>
    <h2> Privacidade das crianças </h2>
    <p> Nosso serviço não é direcionado a menores de 18 anos ("Filhos"). </p>
    <p> Não coletamos intencionalmente informações de identificação pessoal de menores de idade Se você é pai / mãe ou
        responsável legal e está ciente de que seus filhos nos forneceram dados pessoais, entre em contato conosco. Se
        ficarmos cientes de que coletamos dados pessoais de crianças sem a verificação do consentimento dos pais,
        tomamos medidas para remover essas informações de nossos servidores. </p>
    <h2> Mudanças para esta política de privacidade </h2>
    <p> atualizar nossa Política de Privacidade de tempos em tempos. Iremos notificá-lo de quaisquer alterações
        publicando a nova Política de Privacidade nesta página. </p>
    <p> Nós o informaremos por e-mail e / ou um aviso em destaque no nosso Serviço, antes que a alteração entre em vigor
        e atualize a “data efetiva" no topo desta Política de Privacidade. </p>
    <p> Aconselhamos que você revise esta Política de Privacidade periodicamente para quaisquer alterações. As
        alterações nesta Política de Privacidade são efetivas quando publicadas nesta página. </p>
    <h2> Entre em contato </h2>
    <p> Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco: </p>
    <ul>
        <li> Por email: supernova@contador.com.br </li>
        <li> Visitando esta página em nosso site: https://contador.com.br/home/contact </li>
    </ul>
</div>