<div class="container-custom">


    <div class="row">
        <div class="col s12">
            <ng-adsense></ng-adsense>
        </div>
    </div>


    <div class="row">
        <div class="col s12 l3">
            <h2>Em Destaque Hoje</h2>
            <ul>
                <li>Receita Federal do Brasil é o órgão do Governo Federal responsável pelo registro do CPF e CNPJ.</li>
                <li><a href="https://www.gov.br/receitafederal">Receita Federal.</a></li>
            </ul>

            <ul>
                <li><a href="/Home/Suport">Videos tutoriais.</a></li>
            </ul>
        </div>
        <div class="col s12 l3">
            <h2>Como Fazer</h2>
            <ul>
                <li><a href="https://www.gov.br/receitafederal/pt-br/servicos/cadastros/cpf">Regularização do CPF.</a>
                </li>
                <li><a href="https://servicos.receita.fazenda.gov.br/Servicos/ConsRest/Atual.app/paginas/index.asp">Consulta
                        de Restituição do Imposto de Renda.</a></li>
                <li><a routerLink="/rescisao">Calculo de Rescisão.</a></li>
                <li><a routerLink="/ferias">Calculo de Férias.</a></li>
                <li><a routerLink="/salario-liquido">Calculo de Salário liquido.</a></li>
                <li><a routerLink="/decimo-terceiro">Calculo de 13° Salário.</a></li>
            </ul>
        </div>
        <div class="col s12 l3">
            <h2>Visão Geral</h2>
            <ul>
                <li><a href="https://www.caixa.gov.br/beneficios-trabalhador/abono-salarial/Paginas/default.aspx">Divulgado
                        calendário de pagamento do PIS/PASEP 2020-2021.</a></li>
            </ul>
        </div>
        <div class="col s12 l3">
            <h2>Outros órgãos</h2>
            <ul>
                <li><a href="https://www.gov.br/previdencia">Previdência.</a></li>
                <li><a href="https://www.caixa.gov.br/">Caixa Econômica Federal.</a></li>
            </ul>
        </div>
    </div>
</div>