<div class="container body-content">

    <h2>Suporte</h2>

    <div class="row">
        <div class="col s12">
            <ng-adsense></ng-adsense>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 align-items-center">
            <p> <strong>Salário Liquido - Cálculo Prático e Rápido!</strong> </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nCdIkS66Mv8" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>